.parent {
  width: 40%;
  min-width: 300px;
  min-height: 370px;
  color: black;
  background-color: rgb(245, 247, 248);
  height: fit-content;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  background-size: cover;
  box-shadow: 3px 3px 8px rgb(134, 134, 134), -3px -3px 8px rgb(104, 104, 104);
  /* background-color: black; */
}
.desc {
  width: 100%;
  min-width: 300px;
  min-height: 300px;
  color: black;
  background-color: rgb(128, 243, 252);
  height: fit-content;
  border-radius: 20px;
  padding: 10px;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  display: none;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  animation: projects 0.5s ease-in-out;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
.content {
  padding: 15px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 3px 3px 8px rgba(121, 121, 121, 0.778),
    -3px -3px 8px rgba(127, 127, 127, 0.652);
  color: white;
  /* position: relative; */
}
@keyframes projects {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
