.heroCover {
  background-image: url("/images/dsg.jpg");
  background-size: cover;
  /* width: 100%; */
  height: fit-content;
  width: auto;
  padding: 10% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 5rem;
}
.information {
  color: white;
  padding: 2%;
  background-color: #8075753d;
  backdrop-filter: blur(12px);
  border-radius: 25px;
  text-align: center;
  cursor: none;
}
.userImage {
  width: 250px;
  height: auto;
  border-radius: 50%;
  box-shadow: 6px 6px 10px #595959, -6px -6px 10px #595959;
  cursor: none;
}

.userImage:hover {
  box-shadow: 6px 6px 10px #eae7e7, -6px -6px 10px #faf9f9;
}
.myname {
  color: rgb(242, 242, 242);
  font-size: xx-large;
  text-shadow: 1px 1px 0px black, -1px 1px 0px black, 1px -1px 0px black,
    -1px -1px 0px black;
}

.myskills {
  color: rgb(255, 255, 255);
  font-weight: 700;
}
